@font-face {
    font-family: 'Gotham Pro';
    src: url('C:/КАТЯ/обучение/tz2/coworking/css/GothamPro-LightItalic.woff2') format('woff2'), url('C:/КАТЯ/обучение/tz2/coworking/css/GothamPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('C:/КАТЯ/обучение/tz2/coworking/css/GothamPro-Bold.woff2') format('woff2'), url('C:/КАТЯ/обучениеtz2/coworking/css/GothamPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('C:/КАТЯ/обучение/tz2/coworking/css/GothamPro-Light.woff2') format('woff2'), url('C:/КАТЯ/обучение/tz2/coworking/css/GothamPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

body {
    font: 16px/1.42 "Gotham Pro", Arial, Helvetica, sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    padding: 0;
}

ul>li {
    list-style: none;
}

.header {
    width: 100%;
    min-height: 77px;
    background-color: #27273e;
    margin-bottom: 65px;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.header__left-info {
    display: inline-block;
    padding-top: 13px;
    padding-left: 20px;
}

.header__right-info {
    display: inline-block;
    float: right;
    padding-top: 20px;
    padding-right: 20px;
    font-weight: bold;
}

.contacts__phone {
    width: 201px;
    height: 18px;
    font-size: 21px;
    font-style: normal;
    margin-bottom: 10px;
}

.contacts__link {
    color: #fff;
    text-align: right;
    text-decoration: none;
}

.contacts__timing {
    float: right;
}

.contacts__schedule {
    position: relative;
    text-align: right;
    color: #ec1e79;
    font-size: 14px;
    opacity: 0.7;
}

.banner {
    text-align: center;
}

.page,
.sidebar {
    display: inline-block;
    vertical-align: top;
}

.sidebar {
    width: 127px;
    height: 114px;
    margin-left: 20px;
}

.menu__item {
    margin-bottom: 40px;
}

.menu__item:last-child {
    margin-bottom: 0;
}

.menu__text {
    font-size: 12px;
    letter-spacing: 1.2px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ec1e79;
    text-decoration: none;
    display: inline-block;
}

.menu__text:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 18px;
    background: no-repeat center center;
    margin-right: 20px;
}

.menu__text:hover {
    color: #000;
}

.menu__text--icon--main:before {
    background-image: url('../img/main_page/sidebar/main-icon.png');
}

.menu__text--icon--main:hover:before {
    background-image: url('../img/main_page/sidebar/main-icon-black.png');
}

.menu__text--icon--wallet:before {
    background-image: url('../img/main_page/sidebar/wallet-icon.png');
}

.menu__text--icon--wallet:hover:before {
    background-image: url('../img/main_page/sidebar/wallet-icon-black.png');
}

.menu__text--icon--feed:before {
    background-image: url('../img/main_page/sidebar/feed-icon.png');
}

.menu__text--icon--feed:hover:before {
    background-image: url('../img/main_page/sidebar/feed-icon-black.png');
}

.menu__text--active.menu__text--icon--main:before {
    background-image: url('../img/main_page/sidebar/main-icon-black.png');
    text-decoration: underline;
}

.menu__text--active {
    color: #000;
}

.page {
    width: 870px;
    margin-left: 75px;
    display: inline-block;
}

.title {
    font-size: 49px;
    font-weight: bold;
    color: #221f1f;
    margin: 0;
    margin-bottom: 55px;
}


/* Особенности*/

.feat {
    margin-bottom: 85px;
    display: block;
}

.features__item {
    display: inline-block;
    width: 220px;
    text-align: center;
    margin-left: 45px;
}

.features__logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 30px;
}

.flower {
    background: url('../img/main_page/features/flower.png') no-repeat 50% 50% #27273e;
}

.star {
    background: url('../img/main_page/features/mark-as-favorite-star.png') no-repeat 50% 50% #27273e;
}

.pallete {
    background: url('../img/main_page/features/painter-palette.png') no-repeat 50% 50% #27273e;
}

.features__title {
    color: #212121;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.88px;
    margin-bottom: 30px;
}

.features__block {
    color: #221f1f;
    font-size: 18px;
    font-weight: 400;
}

.features__text {
    margin-bottom: 18px;
}

.features__plus {
    padding-left: 15px;
}

.features__item-text:before {
    color: #cc3366;
    content: "•";
    padding-right: 30px;
}

.features__item-text {
    text-align: left;
}


/* Новости */

.news {
    margin-bottom: 55px;
    min-width: 900px;
    min-height: 655px;
}

.news__list {
    display: block;
    margin: 0;
}

.news__item {
    display: inline-block;
    margin-bottom: 25px;
}

.news__pic {
    display: block;
    float: left;
}

.news__ava {
    border-radius: 50%;
    width: 165px;
    height: 165px;
}

.news__desc {
    display: block;
    padding-left: 185px;
    height: 165px;
    width: 685px;
    margin-bottom: 15px;
}

.news__date {
    color: #656464;
    font-family: "Roboto Light";
    font-size: 14px;
    margin-bottom: 5px;
}

.news__title {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.news__text {
    color: #221f1f;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 300;
    margin: 0;
}


/* Пагинация */

.pagination {
    text-align: center;
    margin-bottom: 70px;
    margin-left: 30px;
}

.pagination__display {
    display: inline-block;
    font-size: 14px;
    color: #656464;
    font-family: 'Roboto';
}

.pagination__controlls {
    display: inline-block;
    margin-left: 21px;
}

.pagination__prev {
    background-image: url('../img/main_page/pagination/prev.png');
    width: 6px;
    height: 10px;
    display: inline-block;
    margin-right: 10px;
    background-repeat: no-repeat;
}

.pagination__pages-list {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.pagination__pages-item {
    display: inline-block;
    text-decoration: underline;
}

.pagination__pages-link {
    display: inline-block;
    color: #221f1f;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 25px;
    height: 22px;
    text-decoration: none;
}

.current {
    background-color: #27273e;
    color: #fff;
    border-radius: 5px;
}

.pagination__next {
    background-image: url('../img/main_page/pagination/next.png');
    width: 6px;
    height: 10px;
    display: inline-block;
    margin-left: 18px;
    background-repeat: no-repeat;
}


/* Подвал */

.footer {
    background-color: #27273e;
    color: #fff;
}

.footer__conteiner {
    position: relative;
    height: 77px;
}

.footer__left-text {
    position: absolute;
    font-size: 14px;
    width: 264px;
    height: 48px;
    padding: 14px 0;
    left: 20px;
}

.footer__link {
    font-weight: bold;
    color: #fff;
}

.logo__footer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.soc {
    position: absolute;
    top: 14px;
    right: 20px;
    text-align: left;
    font-style: normal;
}

.footer__right-text {
    font-weight: bold;
    font-size: 14px;
    display: block;
}

.footer__list {
    display: inline-block;
    margin-right: 20px;
    margin-top: 9px;
    padding-inline-start: 0;
    height: 20px;
}

.footer__list-item {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #d4d4d8;
    margin-right: 6px;
}

.footer__list-item:last-child {
    margin-right: 0;
}

.footer__list-item:hover {
    background-color: #ec1e79;
}

.vk {
    background-image: url('../img/main_page/footer/vk.png');
    background-position: center;
    background-repeat: no-repeat;
}

.fb {
    background-image: url('../img/main_page/footer/fb.png');
    background-position: center;
    background-repeat: no-repeat;
}

.google {
    background-image: url('../img/main_page/footer/google.png');
    background-position: center;
    background-repeat: no-repeat;
}

.tw {
    background-image: url('../img/main_page/footer/twitter.png');
    background-position: center;
    background-repeat: no-repeat;
}

.mail {
    background-image: url('../img/main_page/footer/mail.png');
    background-position: center;
    background-repeat: no-repeat;
}