@font-face {
    font-family: 'Gotham Pro';
    src: url('../../css/GothamPro-LightItalic.woff2') format('woff2'), url('../../css/GothamPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../../css/GothamPro-Bold.woff2') format('woff2'), url('../../css/GothamPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../../css/GothamPro-Light.woff2') format('woff2'), url('../../css/GothamPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}