/* Подвал */

.footer {
    background-color: #27273e;
    color: #fff;
}

.footer__container {
    max-height: 77px;
    padding-top: 13px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__left-text {
    font-size: 14px;
    width: 25%;
}

.footer__link {
    font-weight: bold;
    color: #fff;
}