.header {
    width: 100%;
    min-height: 77px;
    background-color: #27273e;
    margin-bottom: 30px;
}

.header__container {
    padding: 20px 0;
}

.header__right-info {
    text-align: right;
    font-weight: bold;
}