.wrapper__greeting {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../../img/greet/welcome.jpg') center center / cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}